@tailwind base;
@tailwind components;
@tailwind utilities;
.nen_body {
  background-image: linear-gradient(to bottom right, #2b5363,#1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f);
  background-color:#184e8e;
}




.container_header{
    width: 100%;
    margin: auto 0;
    /* margin: 0 -90px 0; */

    /* background-image: linear-gradient(to bottom right, #2b5363,#1d1f2f, #1d1f2f); */
}
.header_min{
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 215px;
    color: rgb(255, 255, 255);
    
}
.text_header_min{
    margin: auto 0;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 400px 100px 300px;
    
    /* display: grid;
    grid-template-columns: 1fr 610px;
    margin: 10px 90px 0; */
    font-family: Tahoma;
    font-size: 12px;
}
.text_header_min h3{
  font-size: 15px;
}

.text_header_min a{
    font-family: Tahoma;
    font-size: 16px;
    width: 100px;
    text-decoration: none;
    color: #7ac142;
    margin: 0 -35px 0;

}
.text_header_min a:hover{
    color: #7ac142;
}

/*---------------------END HEADER MIN----------------------------*/
menu{
    margin-top: 50px;
}
menu ul li{
    display: inline-block;

}
menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 17px;
    font-family: Tahoma;
    
}
menu ul li a:hover{
    color: #7ac142;
}

li a .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background:#fff;
    /* background-image: linear-gradient(to bottom right, #2b5363,#1d1f2f, #1d1f2f); */
    border-radius: 3px 50px 30px 30px;
    margin: 0 20px 0;
    width: 150px;
    
  }
  
/*--------------END MENU--------------*/

.search_cart{
    padding: 0;
    display: flex;
    align-items: left;
    margin: 45px 0 0;

}
.search-container form{
    background: #fff;
    /* width: 250px; */
    height: 35px;
    border-radius: 30px;
    padding: 0 10px;
    display: flex;
    /* margin-top: -10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 250px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 250px;
    /* font-weight: 500; */
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #2b5363;
}

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
  animation: hoverShake 0.15s linear 2.5;
}
.login{
    margin-top: 10px;
    width: 250px;
}
.login a{
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 10px 17px 0;
}
.nut_dn{
    background:#1d1f2f;
    border: 1px solid #1d1f2f;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 15px;
    /* margin: 0 10px 0; */

}
.nut_dn a{
    margin: 0 -20px 0;
}
.nut_dk{
    background:#1d1f2f;
    border: 1px solid #ffffff;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 15px;
}


.bt_to_ad{
    background:#1d1f2f;
    border: 1px solid #ffffff;
    color: rgb(255, 255, 255);
    width: 140px;
    height: 25px;
    border-radius: 15px;
}
.bt_to_ad a{
    font-size: 12px;
}
.logout{
    margin: 7px 70px 0;
}
.acc{
    display: grid;
    grid-template-columns:2fr 1fr ;
}
.acc h3{
    text-align: right;
    margin: 0 20px 0;
    font-family: Tahoma;
    font-size: 16px;

}
.acc img{
    margin-left: 30px;
    width:35px;
    height: 35px; 
    margin: -5px -5px 0;
    border-radius:20px;
}








.dm_banner{
    
    /* opacity: 30% ; */
    width: 1160px;
    height: 447px;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    /* margin: 0 130px 0; */
    margin: 10px -10px 0;
    display: grid;
    grid-template-columns: 250px 910px;
    font-family: Tahoma;
    box-shadow: 15px 5px 15px 5px  #0303034b;
}
.danh_muc{
    background: #ffffff1a;
    border-radius: 30px 0 0 30px;
    width: 250px;
    height: 447px;

}
.tieude_muc h2{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 25px;
}
hr{
    height: 0.1px;
    background: #ffffff5b;
    border: 0.9px solid #ffffff54;
}
.content_box_muc{
    margin-top: 10px;
}
.text_muc a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
    font-size: 20px;
    display: inline-block;
}

#text_name{
    margin-top: 10px;
}
.content_box_muc:hover{
    background: #ffffff50;
    height: 50px;
    border-radius: 10px;
    

}
.banner img{
  border-radius: 0 30px 30px 0;
}





* {
	box-sizing: border-box;
}

#body {
    background-image: linear-gradient(to bottom right, #2b5363,#1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	/* margin: -20px 0 50px; */
}

#formSignup h1 {
	font-weight: bold;
	margin: 0;
    color: #1d1f2f;
}



span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#button_login {
	border-radius: 20px;
	border: 1px solid #2b5363;
	background-color: #2b5363;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.ghost_signup {
	background-color: transparent;
	/* border-color: #FFFFFF; */
    border: 1px solid #ffffff;
}


#formSignin, #formSignup{
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.input_login {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 550px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	/* background: #FF416C; */
	background: -webkit-linear-gradient(to right, #2b5363, #1d1f2f);
	background: linear-gradient(to right, #1d1f2f, #2b5363);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}






footer{
    /* width: 100%;
    margin: auto 0; */
    background-image: linear-gradient(to bottom right,#1d1f2f, #1d1f2f);
    
}
.line{
    background-image: linear-gradient(to  right,#d19a03, #fce300, #fce300, 
        #f5eda3, #fce300, #fce300, #fce300, #fce300, #d19a03, #d19a03);
    height: 10px;
    margin-top: 50px;
    
    

    
}
.container_footer{
    display: grid;
    grid-template-columns: 1fr 680px;
    margin-left: 50px;
    
}
.footer_left{
    margin-top: 40px;
}

.content_footer p{
    font-family: Tahoma;
    color: rgb(255, 255, 255);
    
}
b{
    color: #7ac142;
}



#menu{
    /* text-align: center; */
    margin: 60px 110px 0;
    margin-top: 30px;
}
#menu ul{
    width: 600px;
}
#menu ul li{
    display: inline-block; /*- căn menu*/

}
#menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 20px 0;
    font-size: 18px;
    font-family: Tahoma;
    
}
#menu ul li a:hover{
    color: #7ac142;
}
.footer_con{
    color: rgb(255, 255, 255);
    height: 40px;
    text-align: center;
    padding: 2px 1px;
    margin-top: 50px;
}
.footer_con p{
    text-align: center;
    font-family: Tahoma;
}
